* {
  margin: 0;
  padding: 0;
  font-family: "Codec Pro", sans-serif;
}

body#corpo,
html {
  background-color: #f2f3f8;
}

div#container_login {
  background-image: url("/src/images/backgroundLogin.jpg");
  background-size: cover;
  min-height: 100vh;
}

div#container_principal {
  min-height: 100vh;
  background-image: url("/src/images/backgroundLogin.jpg");
  background-size: cover;
}
