* {
  margin: 0;
  padding: 0;
  font-family: "Codec Pro", sans-serif;
}

/* body#corpo,
html {
  margin: 0;
  height: 100%;
  min-width: 577px;
  background-image: url("/src/images/backgroundLogin.jpg");
  background-size: cover;
} */

div#container_login {
  background-image: url("/src/images/backgroundLogin.jpg");
  background-size: cover;
  min-height: 100vh;
}

div#container_principal {
  min-height: 100vh;
  background-image: url("/src/images/backgroundLogin.jpg");
  background-size: cover;
}
